<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post" class="form-example">
        <label for="email">email: </label>
        <input type="email" name="email" id="email" required />

        <label for="email">password: </label>
        <input type="password" name="password" id="password" required />
      <!-- <button class="favorite styled" type="button">Login!</button> -->
      <div class="form-example">
        <input type="submit" value="Login!" />
      </div>

    </form>
</body>
</html>